---
import TagsNavigation from "../components/tags-navigation.astro"
import BaseLayout from "./base-layout.astro"

interface Props {
  frontmatter: {
    title: string
    author: string
    image: {
      url: string
      alt: string
    }
    description: string
    pubDate: string
    tags: string[]
  }
}

const { frontmatter } = Astro.props
const { title, author, image, description, pubDate, tags } = frontmatter
---

<BaseLayout pageTitle={title}>
  <p>Written by <a href="/about/">{author}</a></p>
  <p><em>{description}</em></p>
  <div>
    <img src={image.url} width="100%" alt={image.alt} />
  </div>
  <date value={pubDate}>{new Date(pubDate).toDateString()}</date>s
  <h4>Теги:</h4>

  <TagsNavigation tags={tags} />

  <hr />

  <slot />
</BaseLayout>
